@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-instrument-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #ececec;
  --foreground: #171513;
  --card: #f3f3f3;
  --card-foreground: #171513;
  --popover: #f3f3f3;
  --popover-foreground: #171513;
  --primary: #171513;
  --primary-foreground: #F2F0EE;
  --secondary: #e5e5e5;
  --secondary-foreground: #5C554D;
  --muted: #e5e5e5;
  --muted-foreground: #7D7770;
  --accent: #e5e5e5;
  --accent-foreground: #171513;
  --destructive: #EF4444;
  --border: #d4d4d4;
  --input: #d4d4d4;
  --ring: #9ca3af;
  --radius: 0.75rem;

  --sidebar: #f3f3f3;
  --sidebar-foreground: #171513;
  --sidebar-primary: #171513;
  --sidebar-primary-foreground: #F2F0EE;
  --sidebar-accent: #e5e5e5;
  --sidebar-accent-foreground: #171513;
  --sidebar-border: #d4d4d4;
  --sidebar-ring: #9ca3af;

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --background: #171513;
  --foreground: #F2F0EE;
  --card: #171513;
  --card-foreground: #F2F0EE;
  --popover: #171513;
  --popover-foreground: #F2F0EE;
  --primary: #F2F0EE;
  --primary-foreground: #171513;
  --secondary: #211E1C;
  --secondary-foreground: #A9A39B;
  --muted: #211E1C;
  --muted-foreground: #7D7770;
  --accent: #211E1C;
  --accent-foreground: #F2F0EE;
  --destructive: #E57373;
  --border: #2A2724;
  --input: #2A2724;
  --ring: #7D7770;
  --radius: 0.75rem;

  --sidebar: #171513;
  --sidebar-foreground: #F2F0EE;
  --sidebar-primary: #F2F0EE;
  --sidebar-primary-foreground: #171513;
  --sidebar-accent: #211E1C;
  --sidebar-accent-foreground: #F2F0EE;
  --sidebar-border: #2A2724;
  --sidebar-ring: #7D7770;

  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}